 .h1-class{
    text-align: center;
     margin-top: 80px;
     font-size: 30px;
}
 .p-class{
    font-size: 16px;
    opacity: 0.6;
    margin-top: -5px;
    color: #777;
     text-align: center;
     margin-bottom: 50px;
     
}